body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #A8E6CF;  
}
.heading{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0,0,0,.4);
}
.image-container{
    text-align: center;
}
.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    background-color: lightgray;
    height: 300px;
    width: 300px;
}
.btn{
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.89;
}